@import '../../node_modules/react-table/react-table.css';
@import './tables.css';
@import '../../login/login.css';
@import '../../node_modules/tlite/tlite.css';

.center-container {
  padding: 10px;
  margin: 2% 2% 2% 2%;
}

.headline {
  margin-left: 10%;
}

.siteHeading {
  float: left;
  max-width: 66%;
  margin-top: 0;
}

.toLoginPage {
  float: right;
  margin: 6 6 6 6;
}
