div.rt-tbody {
    text-align: center;
}

div.rt-tr-group:active {
    background-color: grey;
    color: white;
}

.lastN, .firstN {
    text-align: left;
}

div.rt-thead.-header {
    background-color: grey;
    color: white;
}

.rt-th.courseH, .rt-th.omaOpet {
    font-size: 1em;
    text-overflow: clip;

}

.rt-tr-group:nth-child(even) {background-color: #E9E9E9}

.rt-tr-group:nth-child(odd) {background-color: #F4F5F4}

.lukTable {
    overflow: hidden;
    width: 1950px;
}

.lukHeader {
    margin-top: 0;
}


/* Show arrow next to the sorted header
div.-sort-asc::after {
content: "\25B2";
float: right;
}
div.-sort-desc::after {
content: "\25BC";
float: right;
}*/

.subClass {
    text-align: left;
}
